.App {
  text-align: center;
}

.active {
  background: rgb(248, 82, 115);
}

/* Remove default padding of bootstrap */
.navbar{
  padding: 0px !important;
}

/* Added Custom Padding in Items */
.nav-link {
  padding: 18px !important;
}
